.small {
	font-size:0.6em; 
	color: grey;
	font-style: italic;
}

.reveal section img {
	border-style: none;
}


    .reveal h1,
    .reveal h2,
    .reveal h3,
    .reveal h4,
    .reveal h5,
    .reveal h6 {
      text-transform: none;
      text-shadow: none;
      word-wrap: break-word; }

